{% extends 'CPASimUSanteClacoAdminBundle:ClacoAdmin:layout.html.twig' %}

{% block panelBody %}
Crunch
{% endblock %}
{% block panelFooter %}
    <a id="crunch-exo" class="btn btn-primary">
        {{ 'crunch_exo'|trans }}
    </a>
{% endblock %}
